<nav class="navbar is-fixed-top is-dark" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <p class="title is-4 has-text-white">Home</p>
            </a>
            <a role="button" class="navbar-burger" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
            </div>

            <div class="navbar-end">
                <div class="navbar-item has-text-danger has-text-weight-bold">
                    <turbo-frame id="last-updated-time" src="{{ path('home_last_updated_time') }}">
                       ---
                    </turbo-frame>
                </div>
            </div>
        </div>
    </div>
</nav>
