{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="columns is-multiline">
            <div class="column is-8">
                <section class="hero is-primary is-medium">
                    <div class="hero-body">
                        <p class="title">
                            World Statistic Chart
                        </p>
                        <p class="subtitle">
                            coming soon....
                        </p>
                    </div>
                </section>
            </div>
            <div class="column is-4">
                <div class="box">
                    <div class="block">
                        <h1 class="title is-inline-flex mb-1">COVID-19</h1><p class="is-inline-flex subtitle ml-1 mb-1">(SARS-CoV-2)</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias amet aut dolorum eligendi et
                            eveniet ex fuga incidunt inventore, laborum odit perspiciatis praesentium, quibusdam
                            reiciendis repellendus sunt tenetur unde voluptate! Lorem ipsum dolor sit amet, consectetur
                            adipisicing elit. Alias amet aut dolorum eligendi et eveniet ex fuga tenetur unde voluptate! Lorem ipsum dolor sit amet
                        </p>
                    </div>

                    <a href="{{ path('country.index') }}" class="button is-warning is-fullwidth is-focused is-size-5">Go to
                        Countries
                        List<i class="fas fa-project-diagram mx-2"></i></a>
                </div>

            </div>
            <div class="column is-6">
                <turbo-frame id="new_confirmed_chart" src="{{ path('home_top_by_new_confirmed') }}">
                </turbo-frame>
            </div>
            <div class="column is-6">
                <turbo-frame id="new_deaths_chart" src="{{ path('home_top_by_new_deaths') }}">
                </turbo-frame>
            </div>
        </div>
    </div>

{% endblock %}

