{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h1>Counties chart</h1>
<div class="row">
    <div class="col-6">{{ render_chart(chart) }}</div>
   {# <div class="col-6">{{ render_chart(chart) }}</div>
    <div class="col-6">{{ render_chart(chart) }}</div>#}
    <div class="col"></div>
</div>

{% endblock %}
